
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_adminLayout.cshtml";
}

<h3 style="text-align:center;color:coral;line-height:50px">TalkTable.Net Admin Paneline Hoş Geldiniz<br/> Menüleri Kullanarak İşlemlerinizi Yapabilirsiniz.</h3>

