
@{
    ViewBag.Title = "servisListesi";
    Layout = "~/Areas/AdminPanel/Views/Shared/_adminLayout.cshtml";
}


@using talkTable.Entities.Entities
@model List<validitySection>
@if (Model.Count > 0 || Model != null)
{
    foreach (var item in Model)
    {
        <div class="col-xl-4 col-md-6 deleteMember" style="width:100%;border:1px solid #000">
            <div class="single_order" style="width:auto">
                <div class="order_thumb" style="position:relative!important;width:100%">
                    <p>
                        @item.caption
                    </p>
                    <div class="order_prise" style="position:absolute;right:10px;top:10px; ">
                        <a class="removeMemberClick" title="Servis Sil" data-id="@item.id"><i class="fa fa-trash btn btn-danger "></i></a>
                    </div>
                    <div class="order_prise" style="position:absolute;right:50px;top:10px; ">
                        <a title="Servisi Güncelle" href="/AdminPanel/Servisler/altServisGuncelle/@item.id"><i class="fa fa-refresh btn btn-warning"></i></a>
                    </div>
                </div>
                <hr />
                <div class="order_info" style="text-align:center;width:100%">
                   
                    <p>
                        @item.infoText
                    </p>

                </div>
            </div>
        </div>
    }
}
else
{

    <div class="container">
        <h5 style="text-align:center"><a href="/AdminPanel/Servisler/servisEkle">Listelenecek Herhangi Bir Hizmet Yok.Eklemek İstiyorsanız Tıklayın</a></h5>
    </div>

}



@section js{
    <script type="text/javascript">

            function failOk(m) {
                var okFail = '<div class="col-sm-12">';
                okFail += '<div class="alert  alert-danger alert-dismissible fade show" role="alert">';
                okFail += ' <span class="badge badge-pill badge-success">Hata</span>' + m;
                okFail += ' <button type="button" class="close" data-dismiss="alert" aria-label="Close">';
                okFail += '<span aria-hidden="true">&times;</span>';
                okFail += '</button>';
                okFail += '</div>';
                okFail += ' </div>';
                return okFail;
            }
            function ok(m) {
                var ok = '<div class="col-sm-12">';
                ok += '<div class="alert  alert-success alert-dismissible fade show" role="alert">';
                ok += ' <span class="badge badge-pill badge-success">Başarılı</span>' + m;
                ok += ' <button type="button" class="close" data-dismiss="alert" aria-label="Close">';
                ok += '<span aria-hidden="true">&times;</span>';
                ok += '</button>';
                ok += '</div>';
                ok += ' </div>';
                return ok;
            }

            $(".removeMemberClick").click(function () {

                var id = $(this).data("id");
                var deleteMember = $(this).closest(".deleteMember");

                $.ajax({
                    url: "/AdminPanel/Servisler/ServisSil",
                    data: { id: id },
                    type: "POST",
                    success: function (data) {
                        if (data.id == 1) {
                            var mesaj = data.message;
                            $(".alert").html(ok(mesaj));

                            deleteMember.remove();
                            setTimeout(function () { $('.alert').hide('slow'); }, 2000);
                            //setTimeout(function () { document.location.replace("/AdminPanel/TakimListesi/Index") }, 3000);
                        } else {
                            $(".alert").html(failOk(mesaj));
                            setTimeout(function () { $('.alert').hide('slow'); }, 2000);
                           
                        }
                    },
                    error: function (data) {
                        if (data.id == 0) {
                            var mesaj = data.message;
                            $(".alert").html(failOk(mesaj));
                            setTimeout(function () { $('.alert').hide('slow'); }, 2000);
                           
                        } else {
                            $(".alert").html(failOk(mesaj));
                            setTimeout(function () { $('.alert').hide('slow'); }, 2000);
                            
                        }
                    }
                });

            })
    </script>
}
