@using talkTable.Entities.Entities
@model whatIsAdvantage
<section class="advantage" id="advantage">
    <div class="container">
        <div class="section-title" data-aos="slide-left">@Model.advantageCaption</div>
        <div class="section-desc" data-aos="slide-left">
            @Model.advantageInfoText
        </div>
        
        <a href="#contact" class="readmore" data-aos="flip-left">Detaylı Bilgi Almak İstiyorum</a>
    </div>
</section>
@*<div class="adv-list" data-aos="slide-up">
    <article class="col-md-4">
        <div class="artc-header">
            <img src="context/assests/images/services1.png" alt="">
            <span class="title">Mobil Uygulamalara</span>
        </div>
        <div class="artc-footer">
            <ul>
                <li>
                    <span>
                        Düşük entegrasyon ve
                        operasyon maliyeti
                    </span>
                </li>
                <li><span>Yaygın ekosisteme ulaşma</span></li>
                 <li><span>Satış sürecini kısaltma</span></li> 
                <li><span>Operasyonel verimlilik</span></li>
                <li><span>Demokratikleşme</span></li>
                <li>
                    <span>
                        Daha fazla satış kanalı
                    </span>
                </li>
                <li><span>Güvenli</span></li>
                <li>
                    <span>
                        Kendi mobil uygulamasını
                        kullandırma
                    </span>
                </li>
                <li>
                    <span>
                        Pazarlamaya daha fazla
                        odaklanabilme
                    </span>
                </li>
            </ul>
        </div>
    </article>
    <article class="col-md-4">
        <div class="artc-header">
            <img src="context/assests/images/services2.png" alt="">
            <span class="title">Tüketicilere</span>
        </div>
        <div class="artc-footer">
            <ul>
                <li>
                    <span>
                        Hemen / kolayca hızlı ödeme
                    </span>
                </li>
                <li>
                    <span>
                        Tüm kanallardan alışveriş
                    </span>
                </li>
                <li>
                    <span>
                        Adres paylaşmama
                    </span>
                </li>
                <li>
                    <span>
                        Güvenli alışveriş
                    </span>
                </li>
                <li>
                    <span>
                        Hızlı sahip olma
                    </span>
                </li>
                <li>
                    <span>
                        Sırada beklememe
                    </span>
                </li>
                <li>
                    <span>
                        Fiziksel kart taşımama
                    </span>
                </li>
                <li><span>Demokratikleşme</span></li>

            </ul>
        </div>
    </article>
    <article class="col-md-4">
        <div class="artc-header">
            <img src="context/assests/images/services3.png" alt="">
            <span class="title">Perakendecilere</span>
        </div>
        <div class="artc-footer">
            <ul>
                <li>
                    <span>
                        Satış ve tahsilat <br>
                        sürecini kısaltma
                    </span>
                </li>
                <li>
                    <span>
                        Hızlı ve Güvenli Alışveriş
                    </span>
                </li>
                <li>
                    <span>
                        Daha çok müşteri ve satış
                    </span>
                </li>

                <li>
                    <span>
                        Operasyonel
                        maliyetin düşmesi
                    </span>
                </li>
                <li><span>Demokratikleşme</span></li>
                <li>
                    <span>
                        Daha fazla Satış kanalı
                    </span>
                </li>
                <li>
                    <span>
                        Tüketiciye direkt ulaşma
                    </span>
                </li>
                <li>
                    <span>
                        Pazarlamaya daha fazla
                        odaklanabilme
                    </span>
                </li>
            </ul>
        </div>
    </article>
</div>*@