@using talkTable.Entities.Entities
@model whatIsAdvantage
<section class="advantage" id="advantage">
    <div class="container">
        <div class="section-title" data-aos="slide-left">@Model.advantageCaption</div>
        <div class="section-desc" data-aos="slide-left">
            @Model.advantageInfoText
        </div>
        
        <a href="#contact" class="readmore" data-aos="flip-left">Detaylı Bilgi Almak İstiyorum</a>
    </div>
</section>
