
<section class="slider" id="slider">
    <div class="home-slider-area">
        <div id="home-slider">
            <div class="slide slide1" style="background-image: url('~/context/assets/images/slide1.jpg');">
                <div class="container">
                    <div class="slide-top">
                        <div class="logo">
                           
                            <img src="~/context/assets/images/logo-big.png" alt=""/>
                        </div>
                        <div class="title">
                            Yeni Nesil Alışveriş <br>
                            Entegratörü
                        </div>
                        <div class="btns">
                            <a href="#what" class="red go-anim">Detaylı Bilgi</a>
                            <a href="#contact" class="green go-anim">İletişime Geç</a>
                        </div>
                    </div>
                    <div class="slide-bottom">
                        <div class="list">
                            <article>
                                <div class="artc-header">
                                    <div class="icon"><img src="~/context/assets/images/wind.png" /></div>
                                    <div class="text">
                                        Kart ve nakit taşımadan, fotoğraf çekmek kadar kolay ve keyifli, telefonunuzla
                                        sipariş verin, ödeme yapın.
                                    </div>
                                    <div class="badge">KOLAY</div>
                                </div>
                            </article>
                            <article>
                                <div class="artc-header">
                                    <div class="icon">
                                        <img src="~/context/assets/images/lock.png" />
                                    </div>
                                    <div class="text">
                                        Tedirgin olmadan, güvendiğiniz bankanız veya mobil uygulamanız içinden gönül rahatlığıyla alışveriş yapın.
                                    </div>
                                    <div class="badge">güvenli</div>
                                </div>
                            </article>
                            <article>
                                <div class="artc-header">
                                    <div class="icon">
                                        <img src="~/context/assets/images/timer.png" />
                                    </div>
                                    <div class="text">
                                        Günlük koşturmaca içinde alışveriş yapmak neden yavaş olsun, yürürken bile sipariş verin, ödeme yapın.
                                    </div>
                                    <div class="badge">HIZLI</div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide slide2" style="background-image: url('../../context/assets/images/slide2-bg.jpg');">
                <div class="container">
                    <div class="slide-left">
                        <div class="logo">
                            <img src="~/context/assets/images/logo-big.png" />
                          
                        </div>
                        <div class="title">
                            Alışveriş hiç bu kadar <br>
                            kolay olmadı.
                        </div>
                        <div class="text">
                            Tüketicilere fotoğraf çekmek kadar kolay alışveriş yapma imkanı sağlayan, banka ve markaların yüksek entegrasyon maliyeti ve zaman kayıplarını azaltan işbirlikçi yapı ile hayatı herkes için kolaylaştırıyoruz.
                        </div>
                        <div class="btns">
                            <a href="#what" class="red go-anim">Detaylı Bilgi</a>
                            <a href="#contact" class="green go-anim">İletişime Geç</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>