<section class="what" id="what">
    <div class="container" data-aos="slide-left">
        <div class="section-title">Moneymo Nedir?</div>
        <div class="content text-center">
            <p>
                Tüm banka uygulamaları ve e-cüzdanlar üzerinden, markaların sipariş, ödeme, kampanya ve <br>
                sadakat servislerini kullanabilmeyi sağlayan mobil alışveriş platformudur. Mağaza, billboard,<br>
                dergi, INSERT, TV gibi offline kanalların tamamını online kanala dönüştürür.
            </p>
            <p><img src="context/assests/images/logo.gif" alt=""></p>
            <p>
                Bankalar müşterilerine yeni kampanya ve deneyimler sunarken,<br>
                müşteriler de tüm tüketim ekosisteminde kredi kartı bilgilerini ve adresini paylaşmadan <br>
                güvenle ve kolayca alışveriş yaparlar.
            </p>
        </div>
    </div>
</section>
