@using talkTable.Entities.Entities
@model siteInformation
<section class="what" id="what">
    <div class="container" data-aos="slide-left">
        <div class="section-title">@Model.siteName Nedir?</div>
        <div class="content text-center">
            <p>
                @Model.whatIsThisSiteText1
            </p>
            <p><img src="@Model.logoPath" alt="talkTable"></p>
            <p>
                @Model.whatIsThisSiteText2
            </p>
        </div>
    </div>
</section>
