@using talkTable.Entities.Entities
@model siteInformation
<section class="what" id="what">
    <div class="container" data-aos="slide-left">
        <div class="section-title">@Model.siteName Nedir?</div>
        <div class="content text-center">
            <p>
                @Model.whatIsThisSiteText1
            </p>
            <button type="button" class="btn btn-danger video-btn" data-toggle="modal" data-src="@Model.videoPath" data-aos="flip-left" data-target="#myModal" style="text-align:center; font-size:20px; font-style:Raleway; line-height:35px; width:250px;height:50px">
                <i class="fa fa-youtube-play"></i> Detaylı Bilgi
            </button>
            <p>
                @Model.whatIsThisSiteText2
            </p>
            <a href="#contact" class="btn btn-primary" data-aos="flip-left" style="text-align:center; font-size:20px; font-style:Raleway; line-height:35px; width:250px;height:50px">
                <i class="fa fa-info"></i> Demo İste
            </a>
            <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <!-- 16:9 aspect ratio -->
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay" allowfullscreen="true"></iframe>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/context/assets/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        // Gets the video src from the data-src on each button

        var $videoSrc;
        $('.video-btn').click(function () {
            $videoSrc = $(this).data("src");
        });
        console.log($videoSrc);



        // when the modal is opened autoplay it
        $('#myModal').on('shown.bs.modal', function (e) {

            // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
            $("#video").attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
        })



        // stop playing the youtube video when I close the modal
        $('#myModal').on('hide.bs.modal', function (e) {
            // a poor man's stop video
            $("#video").attr('src', $videoSrc);
        })






        // document ready
    });





</script>