
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moneymo - Yeni Nesil Alışveriş Entegratörü</title>
    <meta name="keywords" content="QR Code integrator,Shopping Integrator,Billboard, newpaper, magazine,Commerce Enabling Technology,Iot, E-Wallet, Bank Apps,Order, Pay,Campaign, Loyalty,Merchant, Store, E-Commerce, X-Commerce">


    <link href="/context/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/context/assets/css/font-awesome.min.css" rel="stylesheet" /> 
    <link href="/context/assets/css/animate.min.css" rel="stylesheet" />
    <link href="/context/assets/css/aos.css" rel="stylesheet" /> 
    <link href="/context/assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="overflow"></div>
    <div class="mobile-menu-area no-search" id="mobile-menu-area" data-menu-scroll="true">
        <div class="mobile-menu-btn"></div>
        <div class="menu">
            <ul>
                <li class="go-section"><a href="#slider">Anasayfa</a></li>
                <li class="go-section"><a href="#what">Moneymo Nedir?</a></li>
                <li class="go-section"><a href="#how">Nasıl Çalışır?</a></li>
                <li class="go-section"><a href="#services">Kullanım alanları</a></li>
                <li class="go-section"><a href="#customers">Paydaşlar</a></li>
                <li class="go-section"><a href="#team">Biz Kimiz?</a></li>
                <li class="go-section"><a href="#contact">İletişim</a></li>
            </ul>
        </div>
    </div>
    <header>
        <div class="header">
            <div class="logo">
                <a href="#slider">
                    <img src="context/assests/images/logo.png" alt="">
                </a>
            </div>
            <div class="menu">
                <div class="mobile-menu-btn"></div>
                <div class="dv">
                    <ul>
                        <li><a href="#what">Moneymo Nedir?</a></li>
                        <li><a href="#how">Nasıl Çalışır?</a></li>
                        <li><a href="#services">Kullanım alanları</a></li>
                        <li><a href="#customers">Paydaşlar</a></li>
                        <li><a href="#team">Biz Kimiz?</a></li>
                        <li><a href="#contact">İletişim</a></li>
                    </ul>
                    <div class="lang">
                        <form action="#">
                            <select name="" id="" onchange="location = this.value;">
                                <option selected value="">TR</option>
                                <option value="en">EN</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-container">
        @RenderBody()









    </div>
    <footer class="no-menu">
        <div class="container">
            <div class="footer">
                <div class="logo" data-aos="flip-left" data-aos-offset="-600">
                    <a href="#">
                        <img src="context/context/assests/images/footer-logo.png" alt="">
                    </a>
                </div>
              
                <div class="socials" data-aos="flip-left" data-aos-offset="-400">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

   
    <script src="/context/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/context/assets/js/bootstrap.min.js"></script>
    <script src="/context/assets/js/jquery.bxslider.min.js"></script> 
    <script src="/context/assets/js/aos.js"></script>
    <script src="/context/assets/js/sweetalert.min.js"></script>  
    <script src="/context/assets/js/main.js"></script>
    <script>
        $(document).ready(function () {
            AOS.init({
                disable: 'mobile',
                duration: 800,
                once: true,
            });
            AOS.refreshHard();
            $('#home-slider').bxSlider({
                auto: true,
                pause: 12000,
                pager: true,
                controls: true,
                autoHover: true,
                nextText: '<i class="fa fa-chevron-right"></i>',
                prevText: '<i class="fa fa-chevron-left"></i>',
            });
            $('.services-list.slider').bxSlider({
                auto: false,
                pager: true,
                controls: false,
            });
            $('#contact-form').submit(function (e) {
                e.preventDefault;
                $.ajax({
                    method: "POST",
                    url: $('#contact-form').attr('action'),
                    data: $('#contact-form').serialize()
                }).done(function (msg) {
                    if (msg == "1") {
                        swal("Başarılı!", "En kısa sürede geri dönüş sağlayacağız.", "success");
                    } else {
                        swal("Hata Oluştu!", "Lütfen daha sonra tekrar deneyiniz.", "error");
                        console.log(msg);
                    }

                });
                return false;
            });
        });</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116047309-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116047309-1');</script>
</body>

</html>