<section class="contact" id="contact">
    <div class="container" data-aos="slide-right" data-aos-offset="-100">
        <div class="contact-area">
            <div class="left">
                <div class="title">İrtibatta kalalım!</div>
                <div class="desc">
                    Şehrin kalbinde size ve her yere yakınız. Düşünmeden hemen bizi arayın, tanışalım
                </div>
                <ul class="contacts">
                    <li>
                        <i class="fa fa-phone"></i> <span class="text">
                            <a href="tel:+90 532 377 9712">+90 532 377 9712</a>
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i> <span class="text">
                            <a href="mailto:info@moneymo.com">info@moneymo.com</a>
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-building"></i> <span class="text">
                            Reşitpaşa Mah. Katar Cad. Teknokent <br> Arı 4 Sit. No: 2/50/6 Sarıyer/İstanbul
                        </span>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="form">
                    <form action="https://www.moneymo.com/php/contact.php" id="contact-form">
                        <div class="form-box">
                            <label for="">Ad Soyad</label>
                            <input type="text" name="name" required>
                        </div>
                        <div class="form-box">
                            <label for="">E-posta Adresi</label>
                            <input type="email" name="email" required>
                        </div>
                        <div class="form-box">
                            <label for="">Firma Adı</label>
                            <input type="text" name="frm">
                        </div>
                        <div class="form-box">
                            <label for="">Telefon</label>
                            <input type="text" name="phone">
                        </div>
                        <div class="form-box">
                            <label for="">Mesaj</label>
                            <textarea name="message" id="message" cols="30" rows="10" required></textarea>
                        </div>
                        <div class="form-box">
                            <input type="submit" value="Gönder">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
