<section class="team" id="team">
    <div class="container">
        <div class="section-title" data-aos="slide-left">
            Müşteri Deneyimi ve Finans Konularında Tecrübeli Ekip
        </div>
        <div class="content" data-aos="slide-left">
            <div class="two-block">
                <div class="col-md-6">
                    Yirmi yıldan uzun zamandır Bankacılık, Finans, CRM, ERP konularında farklı şirketlerde görev almış uzman bir ekip, 2016 yılında tecrübelerini birleştirerek pazara yenilik getirmek için Moneymo Online Bilişim Hizmetleri A.Ş. çatısı altında bir araya geldi. Temel hedefimiz işbirlikçi bir model ile tüm tüketicileri, tedarikçileri ve bankaları bir
                </div>
                <div class="col-md-6">
                    platform altında bir araya getirerek nakit ve fiziksel kart kullanmadan mobil alışverişi tüm pazar ve kanallarda yaygınlaştırmaktır. Böylece bankaların sermaye yapısı güçlenecek, hem tedarikçi hem banka müşterilerine daha iyi bir alışveriş deneyimini düşük maliyetle ve yüksek verimle sağlayacaktır.
                </div>
            </div>
        </div>
        <div class="team-list" data-aos="slide-right" data-aos-offset="-100">
            <div class="block-title">Moneymo Team</div>
            <div class="list-area">
                <div class="list">
                    <article class="col-md-3">
                        <div class="artc">
                            <div class="artc-header">
                                <img src="context/assests/images/by.jpg" alt="">
                            </div>
                            <div class="artc-footer">
                                <div class="name">Barış Yüceses</div>
                                <div class="pos">Founder<br>CEO </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-3">
                        <div class="artc">
                            <div class="artc-header">
                                <img src="context/assests/images/bb.jpg" alt="">
                            </div>
                            <div class="artc-footer">
                                <div class="name">Barış Bayoğlu</div>
                                <div class="pos">MANAGING PARTNER<br> Busıness Development</div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-3">
                        <div class="artc">
                            <div class="artc-header">
                                <img src="context/assests/images/yd.jpg" alt="">
                            </div>
                            <div class="artc-footer">
                                <div class="name">Yusuf Duyar</div>
                                <div class="pos">SENIOR Software DEVELOPER</div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="list">
                    <article class="col-md-3">
                        <div class="artc">
                            <div class="artc-header">
                                <img src="context/assests/images/hks.jpg" alt="">
                            </div>
                            <div class="artc-footer">
                                <div class="name">Harun Küçüksüslü</div>
                                <div class="pos">Account EXECUTIVE</div>
                            </div>
                        </div>
                    </article>

                    <article class="col-md-3">
                        <div class="artc">
                            <div class="artc-header">
                                <img src="context/assests/images/ya.jpg" alt="">
                            </div>
                            <div class="artc-footer">
                                <div class="name">Yunus Aydoğmuş</div>
                                <div class="pos">Software ARCHITECT</div>
                            </div>
                        </div>
                    </article>
                    <article class="col-md-3">
                        <div class="artc">
                            <div class="artc-header">
                                <img src="context/assests/images/mik.jpg" alt="">
                            </div>
                            <div class="artc-footer">
                                <div class="name">İlker Kurtman</div>
                                <div class="pos">Software ARCHITECT</div>
                            </div>
                        </div>
                    </article>


                </div>

            </div>
        </div>
    </div>
</section>
