<section class="services" id="services">
    <div class="container" data-aos="slide-right">
        <div class="section-title">Kullanım Alanları</div>
        <div class="content text-center">
            <p>
                Günlük telaşın içinde fatura ödemesini yapamayanlara, <br>
                Alışverişte kasa kuyruğu beklemeyi ve eşya taşımayı sevmeyenlere, <br>
                İnternette kredi kartı girmeye güvenmeyenlere,<br>
                Uzun uzun kredi kartı bilgisi girmek istemeyenlere
            </p>
        </div>
    </div>
    <div class="imgs" data-aos="slide-up">
        <ul>
            <li><img src="context/assests/images/app1.jpg" alt=""></li>
            <li><img src="context/assests/images/app2.jpg" alt=""></li>
            <li><img src="context/assests/images/app3.jpg" alt=""></li>
        </ul>
    </div>
    <div class="container">
        <div class="services-list">
            <div class="top" data-aos="slide-left">
                <ul>
                    <li>
                        <div class="bx">
                            <img src="context/assests/images/paper-b.png" alt="">
                            <span class="desc">Mağazada</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="context/assests/images/computer-b.png" alt="">
                            <span class="desc">Fatura ödemelerinde</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="context/assests/images/shopping-b.png" alt="">
                            <span class="desc">Online alışverişte</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="context/assests/images/map-marker-b.png" alt="">
                            <span class="desc">Yolda</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="center" data-aos="slide-right">
                <ul>
                    <li>Yüksek müşteri memnuniyeti, daha hızlı ve daha çok satış ve sipariş imkanı</li>
                    <li>Her mecradan, satış, pazarlama ve yeni pazar yeri yaratılabilmesi</li>
                    <li>Ödeme, sipariş ve kampanya kanalları için düşük altyapı maliyeti</li>
                </ul>
            </div>
            <div class="bottom" data-aos="slide-up">
                <ul>
                    <li>
                        <div class="bx">
                            <img src="context/assests/images/coffe-b.png" alt="">
                            <span class="desc">Kafede, Restoranda</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="context/assests/images/newspaper-b.png" alt="">
                            <span class="desc">Katalog Alışverişlerinde</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="context/assests/images/box-b.png" alt="">
                            <span class="desc">Kapıda Ödemelerde</span>
                        </div>
                    </li>
                    <li>
                        <div class="bx">
                            <img src="context/assests/images/basket-b.png" alt="">
                            <span class="desc">Markette</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

